
.navbar-brand {
    word-wrap: break-word; 
    white-space: normal;  
}

@media (max-width: 1200px) {
    .navbar-brand {
        font-size: 1.25rem;
    }
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1rem; 
    }
}

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 0.875rem; 
    }
}