.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Сдвигает элементы влево */
    gap: 10px;
    margin-left: 0; /* Убирает отступ слева, если он есть */
}

.custom-height-img img {
    height: 200px; /* Уменьшение высоты изображения */
    object-fit: cover; /* Обрезает изображение, сохраняя пропорции */
}


.card-title,
.card-text,
.form-group label {
    font-size: 0.9rem; /* Уменьшаем размер шрифта для заголовка, текста и лейблов */
}

.form-control {
    font-size: 0.9rem; /* Уменьшаем размер шрифта для поля ввода */
}
.form-label {
    margin-bottom: 0px; /* Уменьшение отступа снизу у лейбла */
}

.form-control {
    width: 100%; /* Устанавливает поле ввода на всю ширину */
    padding: 5px; /* Уменьшение отступов внутри поля */
}

.form-label {
    margin-bottom: 2px; /* Отступ снизу, чтобы лейбл был ближе к полю ввода */
}


.card {
    max-width: 100%; /* Ширина на больших экранах */
    margin: auto; /* Центрирование карточки */
}

@media (max-width: 768px) {
    .card {
        max-width: 100%; /* Карточка будет занимать всю ширину на мобильных устройствах */
    }
}

@media (min-width: 769px) {
    .card {
        max-width: 600px; /* Узкая карточка на экранах больше 768px */
    }
}